*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header{
    text-align : center;
    background-color: white;
    padding: 23px;
}

.header > a {
    display: inline-block;
    margin-right: 30px;
    color: #0a402b;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

body{
    background-color: white;
}

p{
    font-size: 29px;
    text-align: center;
    color: #0a402b;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container{
    background-color:#ebebe8;
    margin: 0 50px;
}

.footprint{
    text-align: center;
    font-size: 12px;
    font-style: italic;
    padding-bottom:20px;
}