.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; } .clearfix { display: inline-block; } /* start commented backslash hack \*/ * html .clearfix { height: 1%; } .clearfix { display: block; } /* close commented backslash hack */

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header{
    text-align : center;
    background-color: white;
    padding: 23px;
}

.header > a {
    display: inline-block;
    margin-right: 30px;
    color: #0a402b;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

body{
    background-color: white;
}

p{
    font-size: 29px;
    text-align: center;
    color: #0a402b;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 5px;
}

.container{
    background-color:#ebebe8;
    margin: 0 50px;
}

.footprint{
    text-align: center;
    font-size: 12px;
    font-style: italic;
    padding-bottom:20px;
}
h5{
    text-transform: uppercase;
    color: #bb8462;
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;
}

.main > div{
    float: left;
    text-align: center;
    width: 33.333%;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .4em;
    color: #0a402b;
    line-height: 36px;
}

.captionleft{
    padding-top: 232px;
    position: relative;
    left: 10%;
}

.captionright{
    padding-top: 231px;
    position: relative;
    right: 10%;
}

h2{
    font-size: 29px;
    text-align: center;
    color: #0a402b;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 5px;
}

.featured{
    width: 70%;
    position: relative;
    margin: 0 auto;
}

.featured > div{
    background-color: white;
    float: left;
    width: 30%;
    margin: 0 10%;
    text-align: center;
    padding: 30px;
    
}

.price{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .4em;
    color: #0a402b;
    line-height: 36px;
    text-align: center;
}

.price > h5{
    letter-spacing: .4em;
    line-height: 36px;
}

h5{
    letter-spacing: .4em;
    line-height: 36px;
    margin-top: 24px;
    color: #bb8462
}

h4{
    color: 
}